body{
    text-align: center;
}

table{
    border: solid 1px black;
    display: inline-block;
    margin: 30px;
}

td {
    border-right: solid 1px black;
}

button{
    border: solid 1px green;
    padding: 5px 10px;
    margin: 0 10px;
}

button:disabled{
    border: none;
}
